*{font-family: 'Times New Roman', Times, serif;}

#mainContainer {
  border: 2px solid black;
  font-size: large;
  background-color: white;
}

.headerDiv {

  padding: 10px;
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
    border: 2px black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

.nameDiv {
   
    font-size: 40px;
}


.userInfoDiv {
  background-color: pink;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  margin: 0 auto;
}

.repoDiv {
    justify-content: space-between;
}