#mainContainer {
    border: 2px solid black;
    font-size: large;
}

.header {
    background-color: purple;
    border: 2px solid salmon;
    padding: 10px;
    font-size: large;
    display:flex;
}
.userName{
    font-size: large;
}
.image{
    border: 2px yellow;
}
.userInfo {
    border : 2px solid blue;
    background-color: pink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
